.mealtypes {
  background-color: brown;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  text-align: center;
  position: relative;
}

.plan_container {
  border: solid green;
  display: grid;
  grid-template-columns: 1fr 3fr;
}

.days {
  background-color: gray;
  text-align: center;
  display: grid;
  grid-template-rows: repeat(7, 1fr);
}

.meals {
  background-color: indianred;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  margin: 10px;
}

#breakfast,
#lunch,
#dinner {
  display: grid;
  grid-template-rows: repeat(7, 1fr);
  gap: 10px;
}

h2 {
  margin: 10px;
}
